* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 4096px;
}

footer {
  width: 100%;
  min-height: 100px;
  position: fixed;
  background-color: blue;
  bottom: 0;
}
