/*======= BASE =======*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

.form {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 0.5rem;
}

.form__row {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.error__message {
  color: red;
}

a {
  color: white;
  text-decoration: none;
}

.header {
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: end;
  gap: 1rem;
  background-color: crimson;
}
